<body>
<div class="div">
  <div class="div-2">
    <img
      alt="Logo"
      height="70"
      ngSrc="assets/images/logo.png"
      width="250"
    />
    <div style="padding-top: 10px">
      <button (click)="redirectToLogin()">Se connecter</button>
    </div>
  </div>

  <div class="div-4">Gérez votre copropriété en toute simplicité</div>

  <div class="div-5">
    <h2>Rejoignez nous sur l'application mobile</h2>
    <img
      alt=""
      class="img-3"
      height="37"
      loading="lazy"
      ngSrc="assets/images/download.png"
      width="150"
    />
  </div>
</div>
</body>
