<div class="container">
  <app-sidebar></app-sidebar>
  <div style="padding-top: 60px; display: flex; justify-content: space-between; align-items: center;">
    <h1 style="margin: 0;">{{ 'Résidences' | translate }}</h1>
    <div style="display: flex; align-items: center; gap: 170px;">
      <button class="btn btn-custom" style="font-size: 12px;" type="button">{{ 'Ajouter' | translate }}  +</button>
    </div>
  </div>
  <table class="table table-hover" style="padding-top: 50px; margin-top: 50px;">
    <thead>
    <tr>
      <th>{{ 'Id' | translate }}</th>
      <th>{{ 'Nom' | translate }}</th>
      <th>{{ 'Adresse' | translate }}</th>
      <th>{{ 'Syndic' | translate }}</th>
      <th>{{ 'Actions' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let res of residences">
      <td data-title="Id">{{ res.id }}</td>
      <td data-title="Nom">{{ res.nom }}</td>
      <td data-title="Adresse">{{ res.adresse }}</td>
      <td data-title="Syndic">{{ res.syndic.nom }} {{ res.syndic.prenom }}</td>
      <td>
        <button><i class="fa fa-edit"></i></button>
        <button><i class="fa fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>
</div>
