<div class="container">
  <app-sidebar></app-sidebar>
  <div style="padding-top: 60px; display: flex; justify-content: space-between; align-items: center;">
    <h1 style="margin: 0;">{{ 'Copropriétaires' | translate }}</h1>
    <div style="display: flex; align-items: center; gap: 170px;">
      <select [(ngModel)]="selectedSearchCriteria" class="form-control rounded-search small-input"
              style="width: 120px;">
        <option value="nom">{{ 'Nom' | translate }}</option>
        <option value="prenom">{{ 'Prénom' | translate }}</option>
        <option value="tel">{{ 'Téléphone' | translate }}</option>
        <option value="residence">{{ 'Residence' | translate }}</option>
        <option value="sexe">{{ 'Sexe' | translate }}</option>
        <option value="appartement">{{ 'Appartement' | translate }}</option>

      </select>
      <input (input)="onSearch()" [(ngModel)]="searchText" class="rounded-search small-input" placeholder="Rechercher"
             style="width: 150px;">
      <button (click)="goToCreatePage()" class="btn btn-custom" style="font-size: 12px;"
              type="button">{{ 'Ajouter' | translate }}  +
      </button>
    </div>
  </div>


  <div style="overflow-y: auto; max-height: 500px;">
    <table class="table table-hover" style="padding-top: 40px; margin-top: 20px;">
      <thead>
      <tr>
        <th>CIN</th>
        <th>{{ 'Pseudo' | translate }}</th>
        <th>{{ 'Nom' | translate }}</th>
        <th>{{ 'Prénom' | translate }}</th>
        <th>{{ 'Téléphone' | translate }}</th>
        <th>{{ 'Age' | translate }}</th>
        <th>{{ 'Sexe' | translate }}</th>
        <th>Résidence</th>
        <th>Appartement</th>
        <th>{{ 'Actions' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of coprs | appFilter: searchText">
        <td data-title="CIN" data-type="currency">{{ user.cin }}</td>
        <td data-title="Pseudo" data-type="currency">{{ user.pseudoname }}</td>
        <td data-title="Nom">{{ user.nom }}</td>
        <td data-title="Prenom">{{ user.prenom }}</td>
        <td data-title="Contact" data-type="currency">{{ user.tel }}</td>
        <td data-title="Age">{{ calculateAge(user.dateNaissance) }} ans</td>
        <td data-title="Sexe" data-type="currency">{{ user.sexe }}</td>
        <td data-title="Résidence">{{ user.appartement?.residence?.nom }}</td>
        <td data-title="Appartement">{{ user.appartement?.number }}</td>


        <td>
          <button><i class="fa fa-edit"></i></button>
          <button (click)="deleteUser(user.id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>

      </tbody>
    </table>

  </div>
  <div *ngIf="coprs.length === 0"
       style="display: flex; justify-content: center; align-items: center; height: 50px; color:darkred">
    <p>{{ 'Aucun résultat!' | translate }}</p>
  </div>
  <router-outlet></router-outlet>
</div>
